body{
	font-family: Roboto, sans-serif;
	color: #303030;
	background-color: #eee;
	letter-spacing: .025em;
}
*{
	transition: all .1s ease-in;
	

}
*:focus {
	outline: none;
}
/* Header */

.ba-header {
	padding-top: 41px;
	padding-bottom: 70px;	

}

.ba-main-menu li {
	list-style: none;
	float: right;
	padding-left: 30px;
	font-size: 18px;
	text-transform: capitalize;
	line-height: 27px;
}

.logo {
	font-size: 48px;
	letter-spacing: .025em;
	float: left;
	font-weight: 700;
}


/* Main */
/* Slider */
.slider {
	padding-bottom: 101px;

}
.slider-content {
	padding-bottom: 70px;

}
.slider-content h1 {
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 150px;
	line-height: 150px;
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0;
}

.slider-descriotion {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;

}

.slider-content__text {
	float: left;
	width: 57%;
}
.slider-content__pic {
	float: right;
	width: 35%;
	text-align: center;
}

.slider-switcher {
	display: block;
	width: 12px;
	height: 12px;
	background-color: #303030;
	display: inline-block;
	margin-left: 9px;
}

a:nth-last-child(3) .slider-switcher {
		background-color: #e10011;
		margin-left: 0;

}

/* Featured product */

.featured-product {
	font-family: Raleway, sans-serif;
	background-color: #fff;
	padding: 62px 60px 53px;
	

}

.featured-headline {
	font-weight: 900;
	font-size: 	48px;
	margin-bottom: 11px;
}

.featured-description {
	font-size: 18px;
	line-height: 24px;
	max-width: 560px;
	margin: 0 auto;
}

.featured-pictures {
	padding-top: 74px;
	padding-bottom: 17px;
}

.featured-pictures__item {
	position: relative;
}
.featured-pictures_secondrow {
	padding-top: 9px;
}


.hovered-picture {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e10011;
	color: #fff;
	border-radius: 3px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 30px;
	text-align: left; 
	margin-bottom: 5px;
	margin-right: 9px;
	margin-left: 30px;
	opacity: 0;
	/*pointer-events: none;*/
}


.hovered-picture p {
	padding: 55% 10% 0 20px;
}
.hovered-picture-first p {
	padding-top: 30%;
}
.hovered-picture span {
	border-bottom: 5px solid #fff;
	padding-bottom: 9px;
}
 .featured-pictures__item:hover img {
	opacity: 0;
}

.hovered-picture:hover {
	opacity: 1;
}



/* PM-News */

.pm-news {
	padding-top: 39px;
	padding-bottom: 35px;
	font-family: Raleway, sans-serif;
	font-size: 18px;
}

.pm-news-headline {
	font-weight: 900;
	font-size: 48px;
	margin-bottom: 15px;
}

.pm-news-description {
	max-width: 560px;
	margin: 0 auto;
	line-height: 24px;
}



/* Subscribe form */

.subscribe {
	background-color: #fff;
	border-radius: 35px;
	position: relative;
	padding: 23px 0 23px 5px;
	max-width: 65%;
    margin: 35px auto;
	
}

.subscribe label {

   padding-left: 20px;
   padding-right: 20px;
}
.subscribe span {
	color: #c2c2c2;
}
.subscribe input::placeholder {
	color: #c2c2c2;
	font-family: Raleway, "FontAwesome", sans-serif;
	font-weight: 400;
	font-style: italic;
}

a.subscribe-btn {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	text-transform: uppercase;
	background-color: #e10011;
	border-radius: 0 35px 35px 0;
	padding: 22px 40px;
	
	font-family: Roboto, "FontAwesome", sans-serif;
	font-weight: 700;

	font-size: 18px;
	line-height: 24px;


}
.subscribe input {
	width: 55%;
	background-color: #fff;
	border-radius: 35px 0 0 35px;
	text-align: left;
	
}
/* Footer */
.ba-footer {
	margin-top: 77px;
	padding-bottom: 30px;
	color: #b5b5b5;
}
.social {
	margin-bottom: 63px;
}
.social-link {
	display: inline-block;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-color: #fff;
	margin: 0 8px;

}
.social-link-item {
	text-align: center;
	line-height: 70px;
	
}

.company-name {
	color: #8d8d8d;
}


/* Layout */
.ba-container{
	max-width: 1200px;
	padding-left: calc(-100% + 150px);
	padding-right: calc(-100% + 150px);
	
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	text-decoration: none;

}
a:hover {
	opacity: 0.7;
}
a,
a:visited {
	color: #303030;
}
a.more,
a.more:visited {
	color: #e10011;
	font-size: 24px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	letter-spacing: 0;

}
a.subscribe-btn:visited {
	color: #fff;
}
/*.featured-picture:hover {
	opacity: 1;
}
.featured-pictures__a img:hover {
	opacity: 0;
}*/

a.social-link,
a.social-link:visited {
	color: #979797;
	font-size: 34px;

}



/*.subscribe input {
 /*	line-height: 24px;*/
/* 	max-width: 495px;
 	font-size: 18px;
 }

 .subscribe input[type="email"] {
	color: #979797;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-style: italic;

 }
*/
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border-style: none;
	border: 0;
}
textarea {

}
